* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: hsl(0, 4%, 27%);
}

#main {
  display: flex;
  flex: auto;
  gap: 40px;
  padding: 40px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  color: hsl(60, 100%, 94%);
  text-align: center;
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 48px;
  font-family: fantasy;
}

#grid-div {
  width: 550px;
  height: 550px;
  border: 2px solid hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  background-color: hsl(219, 79%, 66%);
  border-radius: 5px;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  height: 528px;
  width: 504px;
  border: 2px solid hsl(0, 0%, 0%);
  margin: 23px auto;
  background-color: hsl(0, 0%, 100%);
}

.grid {
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
  background-color: hsl(0, 0%, 100%);
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 25%;
  align-items: center;
  background-color: hsl(248, 39%, 39%);
  border-radius: 5px;
}

button, .pressed-button {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
}

.pressed-button {
  box-shadow: 0 0 0 4px hsl(0, 0%, 16%);
}

footer {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 0%);
}

footer p {
  font-size: large;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hsl(271, 76%, 53%);
}

#number-of-grids:active, #clear:active {
  background-color: hsl(219, 79%, 66%);
}