* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  height: 600px;
  width: 600px;
  border: 1px solid rgb(0, 0, 0);
  margin: 40px auto;
}

.grid {
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
}

.painted-grid {
  background-color: rgb(66, 65, 65);
}

button {
  width: 80px;
  height: 40px;
}